<div class="ui grid">
	<div class="two wide column">
		<button id="blogform" class="ui button">New blog</button>
	</div>
	<div class="six wide column">
		<form class="ui inverted black form" action="/newblog" method="POST">
		<div class="field">
			<input placeholder="Blog title" type="text" name="blogTitle">
		</div>
		<button class="ui blue submit button">Create blog</button>
		</form>
	</div>
</div>

<script>
	$(".form").hide();
	$(".ui .button").click(function() {
		$(".form").toggle(500);
	});
</script>