#{extends 'main.html' /}
#{set title:'Blog view' /}

#{if publicview == 1}
	#{publicnavigation /}
#{/if}
#{else}
	#{homenavigation /}
#{/else}
<section class="ui grid segment">
<div class="ten wide column">
	<a class="ui blue inverted block header">${blog.blogTitle}</a>
	
	#{if publicview != 1}
	<a href="/blog/${blog.id}">
	<i class="big blue write square icon"></i>
	</a>
	#{/if}
	<br><br>
	#{list items:blog.posts, as:'post'}
		<div class="ui segment">
		<h3 class="ui block header">${post.postTitle}</h3>
		<p> ${post.postContent} </p>
		</div>
	#{/list}
</div>
<div class="ui five wide column right floated segment">
	<h4 class="ui purple dividing header">
		Blog owner
		<a href="/publicprofile/${blog.blogOwner.id}">(Visit profile)</a>
	</h4>
	%{ user = blog.blogOwner }%
	#{include "components/profilepanel.html" /}
</div>
</section>

<!-- HTML nodes stored in string needed to be "decoded" -->
<!-- If there are more than 1 post, there will be problem that 2 <p> tags 
get "HTML"-ed, leading to double amount of post content rendered ==> use for-each loop -->
<script>
$("p").each(function(){
	$(this).html($(this).text());
});
</script>