#{extends 'main.html' /}
#{set title:'Page view' /}
#{homenavigation /}
<section class="ui segment">
	<a href="/blogview/${page.blogPageHost.id}" class="ui block header">${page.blogPageHost.blogTitle}</a>
	<h1 class="ui header">${page.pageTitle}</h1>
	<p> ${page.pageContent}
	<br>
	<br>
	<br>
	<br>
	<br>
	<h3 class="ui dividing header">Comments</h3>
	#{if publicview == 0}	
		#{showcomment class:"ui comments", comments:page.commentsPage , mode:"comment",
		textparam:"commentText" , commentaction:"/page/comment/${page.id}"/}
	#{/if}
	#{else}
		<h4 class="ui blue header">Login to leave comments...</h4>
	#{/else}
</section>

<script>
$("p").html($("p").text());
</script>