#{extends 'main.html' /}
#{set title:'Pages' /}
#{homenavigation /}
<script src="@{'/public/javascripts/createform.js'}"></script>
<section class="ui two column grid">
	<div class="two wide column">
		#{blognavigation id:"pagenav", blog:blog /}
	</div>
	<div class="fourteen wide column">
		<div id="createsection" class="ui segment">
			<button class="ui button" onclick=
				"append('createsection','create','/blog/${blog.id}/newpage',
						'POST','pageTitle','','pageContent','','Create Page','',true,'pageLink','',false)">New page</button>
			<br><br>
		</div>
		
		<div class="ui segment">
			#{list items:blog.pages, as:'page'}
			<div id="editsection${page.id}">
				<a class="ui header" href="/page/${page.pageLink}">${page.pageTitle}</a>
				<button class="ui tiny button" onclick=
				"append('editsection${page.id}','edit','/blog/${blog.id}/editpage/${page.id}',
						'POST','pageTitle','${page.pageTitle}','pageContent',preContent('${page.id}'),
						'Edit Page','',true,'pageLink','${page.pageLink}',false,'${page.id}')">
					Edit
				</button>
				<a href="/deletepage/${page.id}">(delete)</a>
				<br><br><br>
			</div>	
			<p id="prepcontent${page.id}" hidden="true">${page.pageContent}</p>
			#{/list}
		</div>
	</div>
</section>

<script>
var preContent = function(id)
{	
	var content = $('#prepcontent'+id).text();
	return content.replace(/\u200B/g,'');
}
</script>