#{extends 'main.html' /}
#{set title:'Posts' /}
#{homenavigation /}
<script src="@{'/public/javascripts/createform.js'}"></script>
<section class="ui two column grid">
	<div class="two wide column">
		#{blognavigation id:"postnav", blog:blog /}
	</div>
	<div class="fourteen wide column">
		<div id="createsection" class="ui segment">
			<button class="ui button" onclick=
				"append('createsection','create','/blog/${blog.id}/newpost',
						'POST','postTitle','','postContent','','Create Post','Save as Draft',false,'','',false,'')">New post</button>
			<br><br>
		</div>
	
		<div class="ui segment">
			#{list items:blog.posts, as:'post'}
			#{if !(post.isDraft)}
			<div id="editsection${post.id}">
				<a class="ui header" href="/blog/${blog.id}/post/${post.id}">${post.postTitle}</a>
				<button class="ui tiny button" onclick=
				"append('editsection${post.id}','edit','/blog/${blog.id}/editpost/${post.id}',
						'POST','postTitle','${post.postTitle}','postContent',preContent('${post.id}'),
						'Edit Post','Reverse to Draft',false,'','',true,'${post.id}')">
						Edit
				</button>
				<a href="/deletepost/${post.id}">(delete)</a>
				<br><br>
				<br>
			</div>
			#{/if}
			<p id="prepcontent${post.id}" hidden="true">${post.postContent}</p>
			#{/list}
		</div>
	</div>
	
</section>

<script>
	$("#showdraft").click(function(){
		$(".modal").toggle(500);
	});
	
	var preContent = function(id)
	{	
		var content = $('#prepcontent'+id).text();
		return content.replace(/\u200B/g,'');
	}
</script>
