#{extends 'main.html' /}
#{set title:'Posts' /}
#{homenavigation /}
<section class="ui two column grid">
	<div class="two wide column">
		#{blognavigation id:"postnav", blog:blog /}
	</div>
	<div class="fourteen wide column">
		<div class="ui segment">
		<button id="showdraft" class="ui label">Load draft</button>
		#{createform buttontext:"New Post", draft:"draftbutton",
		action:"/blog/${blog.id}/newpost",  draftaction:"/blog/${blog.id}/newpostdraft",
		titleparam:"postTitle", contentparam:"postContent", 
		buttonmessage:"Create Post" , object:blog /}
		</div>
	
		<div class="ui segment">
			#{list items:blog.posts, as:'post'}
			#{if !(post.isDraft)}
				<a class="ui header" href="/blog/${blog.id}/post/${post.id}">${post.postTitle}</a>
				#{createform buttontext:"Edit", 
				action:"/blog/${blog.id}/editpost/${post.id}",
				titleparam:"postTitle", contentparam:"postContent", 
				buttonmessage:"Update", type:"post" , object:post, 
				prevtitle:post.postTitle, prevcontent:post.postContent /}
				<br>
			#{/if}
			#{/list}
		</div>
	</div>
	
	<div class="ui modal">
		<div class="header">
    		Drafts
  		</div>
  		<div class="content">
		#{list items:blog.posts, as:'post'}
		#{if post.isDraft}
			<button id="drafttitle${post.id}">${post.postTitle}</button>
			
		<div class="description">
			<p id="draftcontent${post.id}">${post.postContent}</p>
		</div>
		
		<script>
		$(function(){
			$("#drafttitle${post.id}").click(function(){
				//alert($("#draftcontent${post.id}").text());
				$("#inputtitle${blog.id}").val("${post.postTitle}");
				$("#content${blog.id}").text($("#draftcontent${post.id}").text());
				$(".modal").hide(500);
				$("#form${blog.id}").show(500);
			});
		});
		</script>
		#{/if}
		#{/list}
		</div>
	</div>
</section>
#{texteditor /}

<script>
	$("#showdraft").click(function(){
		$(".modal").toggle(500);
	});
</script>