#{extends 'main.html' /}
#{set title:'Post view' /}
#{homenavigation /}

<section class="ui two column grid segment">
<div class="ten wide column">
	<a href="/blogview/${post.blogPostHost.id}" class="ui blue block header">${post.blogPostHost.blogTitle}</a>
	<br><br><br>
	<b id="title" class="ui purple header">
		${post.postTitle}   
	</b>
	<a id="date" href="#">(Last edited: ${lastEdit})</a>
	<br><br>
	<p id="content">${post.postContent}</p>
	<br>
	<br>
	<br>
	<br>
	<br>
	<script>
	setInterval(function() {
		var xhr;
		if(window.XMLHttpRequest) {
			xhr = new XMLHttpRequest();
		}
		else {
			xhr = new ActiveXObject("Microsoft.XMLHTTP");
		}		
		xhr.open("GET","/update/${post.id}",true);
		xhr.send();
		xhr.onreadystatechange = function() {
			if(xhr.readyState==4) 
			{
				var jpost = JSON.parse(xhr.responseText);
				//alert(jpost);
				console.log(jpost);
				var post = jQuery.parseJSON(jpost.replace(/\n/g,""));
				//alert(post);
				console.log(post);
				//document.getElementById("content").innerHTML = post;
				document.getElementById("title").innerHTML = post.postTitle;
				document.getElementById("date").innerHTML = '(Last edited: ' + post.postDate + ')';
				document.getElementById("content").innerHTML = post.postContent;
			}
		}
	},3000);
	</script>
	
	<h3 class="ui dividing header">Comments</h3>	
	#{if publicview == 0}
		#{showcomment class:"ui comments", comments:post.commentsPost , mode:"comment",
		textparam:"commentText" , commentaction:"/blog/post/comment/${post.id}"/}
	#{/if}
	#{else}
		<h4 class="ui blue header">Login to leave comments...</h4>
	#{/else}
</div>
<div class="ui five wide column right floated segment">
	<h4 class="ui blue header">Other posts from  
		<a href="/blogview/${post.blogPostHost.id}">${post.blogPostHost.blogTitle}</a>
	</h4>
	#{list items:otherPosts, as:'other'}
		<a href="/blog/${other.blogPostHost.id}/post/${other.id}">
			${other.postTitle}
		</a>
	#{/list}
	<h4 class="ui purple dividing header">Blog owner</h4>
	%{ user = post.blogPostHost.blogOwner }%
	#{include "components/profilepanel.html" /}
</div>
</section>


<!-- HTML nodes stored in string needed to be "decoded" -->
<script>
$("p").html($("p").text());
</script>