<button id="showbutton${_type}${_object.id}" class="ui label"></button>
<form id="form${_type}${_object.id}" class="ui form" action="" method="POST">
<div class="field">
	<input id="inputlink${_type}${_object.id}" placeholder="Page Link" type="text" name="">
</div>
<div class="field">
	<input id="inputtitle${_type}${_object.id}" placeholder="${_prevtitle}" type="text" name="">
	<textarea id="content${_type}${_object.id}" name="" placeholder="Content">${_prevcontent}</textarea>
</div>
<button id="submitbutton${_type}${_object.id}" class="ui blue button"></button>
<button id="draftbutton${_type}${_object.id}" class="ui blue button">Save Draft</button>
</form>


<script>
	$("#showbutton${_type}${_object.id}").text("${_buttontext}");	
	$("#draftbutton${_type}${_object.id}").hide();
	$("#${_draft}${_type}${_object.id}").show();
	$("#inputlink${_type}${_object.id}").hide();
	if ("${_needlink}" == "true") {
		$("#inputlink${_type}${_object.id}").show();
	}
	$("#inputlink${_type}${_object.id}").attr("name", "${_linkparam}");
	$("#inputtitle${_type}${_object.id}").attr("name", "${_titleparam}");
	$("#content${_type}${_object.id}").attr("name", "${_contentparam}");
	$("#submitbutton${_type}${_object.id}").text("${_buttonmessage}");
	$("#form${_type}${_object.id}").hide();
	$("#showbutton${_type}${_object.id}").click(function() {
		$("#form${_type}${_object.id}").toggle(500);
	});
	
	$("#submitbutton${_type}${_object.id}").hover(function() {
		$("#form${_type}${_object.id}").attr("action", "${_action}");
	});
	$("#draftbutton${_type}${_object.id}").hover(function() {
		$("#form${_type}${_object.id}").attr("action", "${_draftaction}");
	});
	
	
	$("#submitbutton${_type}${_object.id} , #draftbutton${_type}${_object.id}").attr("disabled",true);
	$("#inputtitle${_type}${_object.id}").keypress(function(){
		if($(this).val().length != 0) {
			$("#submitbutton${_type}${_object.id} , #draftbutton${_type}${_object.id}").attr("disabled",false);
		}
		else {
			$("#submitbutton${_type}${_object.id} , #draftbutton${_type}${_object.id}").attr("disabled",true);
		}
	});
</script>