#{extends 'main.html' /}
#{set title:'Profile page' /}
#{homenavigation /}

<section class="ui segment">
	<h1 class="ui header" >
		<a id="firstname">${user.firstName}</a>
		<a id="lastname">${user.lastName}</a>
		's Profile
		<h4 class="ui inverted purple header">(click on component's header to edit)</h4>
	</h1>
	
		#{editprofile action:"/editprofile",
		 form:"firstnameform", param:"firstName",
		component:"firstname", message:"Edit first name" /}
		#{editprofile action:"/editprofile",
		 form:"lastnameform", param:"lastName",
		component:"lastname", message:"Edit last name" /}
     #{include "components/profiledetails.html" /}
</section>